.tile {
  width: 1px;
  height: 1px;
}

body {
  text-align: center;
}

ul {
  text-align: left;
}

.wrapper {
  width: 100%;
  white-space: nowrap;
  overflow: auto;

}

.board {
  margin: 50px;
  background-color:lightGray;
  display: inline-block;
  padding: 30px;
}

.tile img{
  width: 69px;
  height: 75px;
  margin: 1px;
}

.tile-space {
  z-index: 10;
  width: 1px;
  height: 1px;
}

.tile-space-wrapper {
  vertical-align: top;
  width: 70px;
  height: 76px;
  display: inline-block;
  border: solid gray 2px;
  border-radius: 2px;
  margin: 3px;
}

.tile-space-wrapper.double-letter{
  border-color: red;
  background-image: url("../resources/Letter.png");
  background-size: contain;
  background-position: center;
  color: red;
  text-align: center;
}

.tile-space-wrapper.double-word{
  border-color:blue;
  color:blue;
  background-image: url("../resources/Word.png");
  background-size: contain;
  background-position: center;
  text-align: center;
}

.tile-space-blank {
  vertical-align: top;
  width: 74px;
  height: 80px;
  display: inline-block;
}

.result-tile {
  height: 30px;
  margin: 2px;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.trash .tile-space-wrapper {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://img.icons8.com/material-outlined/384/000000/trash--v1.png');
}

#error {
  color:red;
  font-style: italic;
}

.tray, .trash {
  margin: 50px;
  background-color:lightGray;
  display: inline-block;
  padding: 30px;
}

#tray-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tray-list li{
  display: inline-block;
}
